In [152]:
import pandas as pd
import numpy as np 
import pickle

In [153]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split

In [120]:
# Load the Dataset
df = pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [121]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [122]:
# Preprocess the data
# Drop irrelevent columns 
df = df.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1)

In [123]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [124]:
# Encode categorical variables 
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])
# Male = 1 , Female = 0

In [125]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [126]:
# OneHot Encode 'Geography'
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder(sparse_output=False)
geo_encoder = onehot_encoder_geo.fit_transform(df[['Geography']])

In [127]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [128]:
geo_encoded_df = pd.DataFrame(
    geo_encoder,
    columns=onehot_encoder_geo.get_feature_names_out(['Geography'])
)

In [129]:
geo_encoded_df.head()

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0
1               0.0                0.0              1.0
2               1.0                0.0              0.0
3               1.0                0.0              0.0
4               0.0                0.0              1.0

In [130]:
## Combine onehot encoder columns with the original data
df = pd.concat([df.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [131]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [132]:
### Save the Encoder and Scaler into pickel file 

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
    
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [133]:
## Divide the dataset into independent and dependent features

X = df.drop('Exited',axis=1) # Independent 
y = df['Exited'] # Dependent 

# split the data into training and testing sets 
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [134]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [135]:
X_test

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [136]:
# save the scaler into pickel file 

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [137]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int32(1), int64(7)
memory usage: 976.7 KB

## ANN Implementaion

In [139]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [140]:
X_train.shape[1]

12

In [141]:
## Build Our ANN Model 
model  = Sequential(
    [
        Dense(64,activation = 'relu',input_shape=(X_train.shape[1],)), #Hidden Layer 1 connected with input layer,(we have to define input shape on 1st Hidden Layer)
        Dense(32,activation='relu'), #HL2
        Dense(1,activation='sigmoid') ## Output Layer
        
        
    ]
)

In [142]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                832

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [143]:
#optimizer 
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [144]:
opt
loss

In [145]:
## Compile the model 
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [146]:
## Stepup the Tensorboard
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = 'logs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [147]:
## Setup Early Stopping 
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [148]:
## Training the Model 

history = model.fit(
    X_train,y_train,validation_data = (X_test,y_test),epochs=100,
    callbacks = [tensorflow_callback,early_stopping_callback] 
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3971 - accuracy: 0.8359 - val_loss: 0.3686 - val_accuracy: 0.8465
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3541 - accuracy: 0.8572 - val_loss: 0.3459 - val_accuracy: 0.8620
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3465 - accuracy: 0.8609 - val_loss: 0.3515 - val_accuracy: 0.8550
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8627 - val_loss: 0.3409 - val_accuracy: 0.8605
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8612 - val_loss: 0.3512 - val_accuracy: 0.8610
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8624 - val_loss: 0.3450 - val_accuracy: 0.8585
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8637 - val_loss: 0.3447 - val_accuracy: 0.8620
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8614 - val_loss: 0.3384 - val_accuracy: 0.8650
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8649 - val_loss: 0.3475 - val_accuracy: 0.8560
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.8670 - val_loss: 0.3404 - val_accuracy: 0.8590
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3289 - accuracy: 0.8670 - val_loss: 0.3471 - val_accuracy: 0.8610
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8622 - val_loss: 0.3404 - val_accuracy: 0.8605
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3257 - accuracy: 0.8656 - val_loss: 0.3514 - val_accuracy: 0.8580
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3237 - accuracy: 0.8671 - val_loss: 0.3473 - val_accuracy: 0.8640
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3228 - accuracy: 0.8649 - val_loss: 0.3368 - val_accuracy: 0.8640
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3195 - accuracy: 0.8683 - val_loss: 0.3476 - val_accuracy: 0.8615
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3166 - accuracy: 0.8689 - val_loss: 0.3503 - val_accuracy: 0.8605
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3170 - accuracy: 0.8681 - val_loss: 0.3507 - val_accuracy: 0.8590
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3125 - accuracy: 0.8720 - val_loss: 0.3563 - val_accuracy: 0.8570
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3108 - accuracy: 0.8699 - val_loss: 0.3599 - val_accuracy: 0.8490
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3099 - accuracy: 0.8704 - val_loss: 0.3571 - val_accuracy: 0.8600
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3087 - accuracy: 0.8726 - val_loss: 0.3735 - val_accuracy: 0.8540
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3062 - accuracy: 0.8727 - val_loss: 0.3636 - val_accuracy: 0.8525
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3038 - accuracy: 0.8748 - val_loss: 0.3646 - val_accuracy: 0.8570
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2984 - accuracy: 0.8767 - val_loss: 0.3810 - val_accuracy: 0.8475

In [149]:
model.save('model.h5') #this file is compatible with keras

c:\Users\Dell\anaconda3\envs\churn_env\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [150]:
# Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [151]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 16076), started 1:07:25 ago. (Use '!kill 16076' to kill it.)